<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Sistema medico</title>
</head>

<body>
    <h1>Alterar cadastro de Profissional:</h1>
 
    <form method="post" action="/submit">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="nome do profissional"><br><br>

        <label for="cpf">Cpf:</label>
        <input type="text" id="cpf" name="cpf" placeholder="Cpf do profissional"><br><br>

        <label for="contato">Contato:</label>
        <input type="text" id="contato" name="contato" placeholder="Digite endereço de e-mail"><br><br>
 
        <button type="submit" class="botao">Salvar informações</button><br><br>
    </form>
</body>
</html>