<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Profissionais</title>
</head>
<body>
    <h1>Cadastrar Profissionais</h1>
    <form method="post" action="/submit">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required><br>

        <label for="contato">Contato:</label>
        <input type="text" id="contato" name="contato" required><br>

        <label for="especialidade">Especialidade:</label>
        <select id="especialidade" name="especialidade">
            <option value="" selected>Selecione uma especialidade</option>
            {% for especialidade in especialidades %}
                <option value="{{ especialidade.nome }}">{{ especialidade.nome }}</option>
            {% endfor %}
        </select><br>

        <button type="submit" name="action" value="Cadastrar profissionais">Cadastrar</button>
    </form>
</body>
</html>
