<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consultar Disponibilidade</title>
</head>
<body>
    <h1>Consultar Disponibilidade</h1>
    <form method="post" action="/resultado_disponibilidade">
        <label for="nome">Nome do Profissional:</label>
        <input type="text" id="nome" name="nome"><br>

        <label for="especialidade">Especialidade:</label>
        <input type="text" id="especialidade" name="especialidade"><br>

        <button type="submit">Consultar</button>
    </form>
</body>
</html>
