<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Profissional</title>
</head>
<body>
    <h1>Editar Profissional</h1>
    <form method="post" action="/atualizar_profissional/{{ profissional.id }}">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ profissional.nome }}" required><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{ profissional.cpf }}" required><br>

        <label for="contato">Contato:</label>
        <input type="text" id="contato" name="contato" value="{{ profissional.contato }}" required><br>

        <label for="especialidade">Especialidade:</label>
        <select id="especialidade" name="especialidade">
            <option value="">Selecione uma especialidade</option>
            {% for especialidade in especialidades %}
                <option value="{{ especialidade.nome }}" {% if especialidade.id == profissional.especialidade_id %}selected{% endif %}>{{ especialidade.nome }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Atualizar</button>
    </form>
</body>
</html>
